@import '../../scss/colors.scss';

.quiz__wrapper {
  height: 100%;
  width: 480px;

  margin: 20px auto;

  background-color: $darker;

  border-radius: 10px;
}

.quiz {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.quiz__header {
  color: $yellow;

  padding-top: 20px;
}

.quiz__img {
  height: 400px;
  width: 400px;

  border-radius: 10px;
  border: 1px solid $yellow;

  margin-top: 10px;
}

.quiz__length {
  margin-top: 20px;

  font-size: 24px;
  font-family: 'Archangelsk';

  color: $yellow;
}

.quiz__author {
  color: $white;

  opacity: 0.5;

  font-size: 18px;
}

.quiz__start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  margin: 40px auto 40px auto;
}

.quiz__btn {
  color: $yellow;

  font-size: 48px;
  font-family: 'Archangelsk';

  border-radius: 10px;
  border: 1px solid $yellow;

  padding: 10px;

  transition: 0.3s all ease;

  cursor: pointer;
}

.quiz__btn:hover {
  background-color: $yellow;
  color: $dark;
  transform: scale(1.05);
}

.quiz__back {
  position: absolute;
  left: 20px;
  top: 35px;

  cursor: pointer;

  transition: 0.3s all ease;
}

.quiz__back:hover {
  transform: scale(1.1);
}
